.home {
    font-family: 'Poppins', sans-serif;
}

header {
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    background-color: #FBD062;
    height: 90vh;
}

.btn-brand {
    background-color: #111430;
    color: #fff;
}

.work-section {
    background-color: #111430;
}